.topics-content .panel {
	width: 70%;
	margin-left: auto;
    margin-right: auto;
}

.lbuttons .btn {
	margin: 2%;
}

.post-lbuttons .btn {
	margin: 2%;
}

.post-date,
.post-views,
.post-favs,
.post-comments,
.post-tag
{
	font-size: 80%;
	white-space: nowrap;
}

.post-tag {
	margin-right: 1%;
	float: left;
}

.preview {
	clear: both;
}

.btn-preview {
	margin-top: 1%;
}

.modal-body img {
  width: 100%;
}