<!doctype html>
<html lang="en">
    <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <title>Recommendations</title>

	    <!-- Bootstrap core CSS -->
	    <link href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
	<body>
		{% raw %}
		<div class="container">
			<header class="page-header">
	        	<h1>Recommendations</h1>
	        </header>
	        <div class="list-group">
				<section id="jsons"></section>
				<script id="jsons-template" type="x-tmpl-handlebars">
				{{#each jsons}}
					<a href="{{this}}" class="list-group-item"> {{this}} </a>
				{{/each}}
				</script>
			</div>
		</div>
		{% endraw %}

		<script>
			{% autoescape false %}	
			context = {jsons: [{{ jsons }}]}
			{% endautoescape %}
		</script>
		<script src="static/bower_components/jquery/dist/jquery.js"></script>
		<script src="static/bower_components/handlebars/handlebars.js"></script>
		<script src="static/js/generate_home.js"></script>
	</body>
</html>
