<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <title>Recommendations</title>

	    <!-- Bootstrap core CSS -->
	    <link href="{{ bootstrap_path }}" rel="stylesheet">
	    <script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script> 
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    </head>
	<body>
		<style>
		.topics .panel{
			width: 70%;
			margin-left: auto;
    		margin-right: auto;
		}
		</style>

		<div class="container">
			<div class="page-header">
	        	<h1>Recommendations</h1>
	        </div>
			<div class="topics"></div>
		</div>

		<script>

		var target = document.getElementsByClassName("topics")[0]

		var opts = {
		  lines: 9, // The number of lines to draw
		  length: 20, // The length of each line
		  width: 10, // The line thickness
		  radius: 30, // The radius of the inner circle
		  color: '#3b5998', // #rgb or #rrggbb or array of colors
		  speed: 0.5, // Rounds per second
		  trail: 40, // Afterglow percentage
		  className: 'spinner', // The CSS class to assign to the spinner
		};

		function init() {
		    var spinner = new Spinner(opts).spin(target);			    		    		   
		    d3.json("{{ json_path }}", function(error, data) {	
		    	if (error) throw error;	            
	    		spinner.stop();		            
	            show_recommendations(data);
	        });	
		}

		init();

		function show_recommendations(data) {
			panel = d3.select(".topics")
				.selectAll("div")
				.data(data.topics)
				.enter().append("div").attr("class", "panel panel-default");

			panel.append("div").attr("class", "panel-heading")
					.text(function(d) { return d.topic_description; });

			panel_body = panel.append("div").attr("class", "panel-body");

			panel_body.append("div").attr("class", "list-group")
					.selectAll("a")
					.data(function(d) { return d.posts.slice(0, 5); })
					.enter().append("a").attr("class", "list-group-item")
						.attr("href", function(d) { return d.url; })
						.html(function(d) { return d.title + 
							'<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float:right"></span>'; });

			panel_body.append("a").attr("href", "#").attr("class", "btn btn-primary").text("Continue reading");
		}

		</script>
	</body>
</html>

